{% load static %}

<div class="main-background"><div>

<header class="header-container">
    <div class="main-header">
        <img class="hog-logo" src={% static 'houses/images/hog-logo2.png' %} alt="Hogwarts logo">
        <h1>
            <a href="/">
                {% comment %} <i class="fas fa-magic"></i> {% endcomment %}
                <span class="main-header-text">
                    Hogwarts Houses
                </span>
                {% comment %} <i class="fas fa-hat-wizard"></i> {% endcomment %}
            </a>
        </h1>
    </div>
</header>

