{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

{% include 'houses/partials/head.html' %}
{% include 'houses/partials/header.html' %}

<body>

    <main class="main-container">
        <article class="house-card grifindor">
            <div class="flip">
                <section class="front">
                    <img class='house-image' src="{% static 'houses/images/cb-g.gif' %}" alt="Godric Gryffindor">
                </section>
                <section class="back">
                    <img class='house-image' src="{% static 'houses/images/gr.jpg' %}" alt="Grifindor art">
                </section>
            </div>
        </article>
        <div class="grifindor-background"></div>

        <article class="house-card ravenclaw">
            <div class="flip">
                <section class="front">
                    <img class='house-image' src="{% static 'houses/images/cb-c.gif' %}" alt="Rowena Ravenclaw">
                </section>
                <section class="back">
                    <img class='house-image' src="{% static 'houses/images/rv.jpg' %}" alt="Ravenclaw art">
                </section>
            </div>
        </article>
        <div class="ravenclaw-background"></div>

        <article class="house-card hufflepuff">
            <div class="flip">
                <section class="front">
                    <img class='house-image' src="{% static 'houses/images/cb-h.gif' %}" alt="Helga Hufflepuff">
                </section>
                <section class="back">
                    <img class='house-image' src="{% static 'houses/images/hh.jpg' %}" alt="Hufflepuff art">
                </section>
            </div>
        </article>
        <div class="hufflepuff-background"></div>

        <article class="house-card slytherin">
            <div class="flip">
                <section class="front">
                    <img class='house-image' src="{% static 'houses/images/cb-s.gif' %}" alt="Salazar Slytherin">
                </section>
                <section class="back">
                    <img class='house-image' src="{% static 'houses/images/sl.jpg' %}" alt="Slytherin art">
                </section>
            </div>
        </article>
        <div class="slytherin-background"></div>
        
    </main>

    <div class="division"></div>

    <footer class="footer-container">
        <p class="footer-text">
            Escolha a sua casa e conheça um pouco mais do universo bruxo
        </p>
    </footer>

    <div class="division"></div>

</body>

</html>